body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(tictac.jpg);
    background-size: cover;
    background-attachment: fixed;
    /* background-color: #64e6f7; */
}

.container {
    background-image: url(tictac.jpg);
    background-size: cover;
    text-align: center;
    background-color: #d8d853;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    max-width: 400px;
    width: 90%;
}

h1 {
    color: #04f9d9;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 20px;
    justify-items: center
}

.cell {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

#message {
    margin-top: 10px;
    font-size: 1.2em;
    color: #04f9d9;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 3);
}

button:hover {
    background-color: #ff0000;
}
